<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="au.edu.qut.IAB330_PageNav">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
    <application android:label="IAB330_PageNav.Android">
    </application>
</manifest>